@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600italic,600,400italic&subset=latin,cyrillic);

body { margin: 0; padding: 0; font-family: 'Open Sans',sans-serif; font-size: 14px; color: #452525; background: url('../img/back.gif') repeat left top; }

.clearfix:before, .clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both; }

ul { list-style: none; margin: 0; padding: 0;}
a { outline: none; color: #ae8023; text-decoration: underline;}
a:hover { text-decoration: none;}

.vert { height: 100%; display: inline-block; vertical-align: middle; margin-left: -0.32em; }

.icon { background-image: url('../img/sprite@2x.png'); background-repeat: no-repeat; display: inline-block; vertical-align: middle; background-size: 166px 200px; }
.icon.icon-map-brown { background-position: 0 0; width: 14px; height: 20px;}
.icon.icon-map-grey { background-position: -18px 0; width: 14px; height: 20px;}
.icon.icon-phone-brown { background-position: 0 -24px; width: 20px; height: 20px;}
.icon.icon-phone-grey { background-position: -24px -24px; width: 20px; height: 20px;}
.icon.icon-email-brown { background-position: 0 -48px; width: 20px; height: 14px;}
.icon.icon-email-grey { background-position: -24px -48px; width: 20px; height: 14px;}

.icon.icon-point-vinous { background-position: -35px 0; width: 13px; height: 13px;}
.icon.icon-point-grey { background-position: -50px 0; width: 13px; height: 13px;}

.icon.icon-label-orange { background-position: -52px -15px; width: 114px; height: 26px;}
.icon.icon-label-red { background-position: 0 -134px; width: 101px; height: 26px;}

.icon.icon-leftUzor {  background-position: -66px 0; width: 31px; height: 12px; }
.icon.icon-rightUzor {  background-position: -100px 0; width: 31px; height: 12px; }

.icon.icon-uzorL {  background-position: -51px -44px; width: 53px; height: 20px; }
.icon.icon-uzorR {  background-position: -108px -44px; width: 53px; height: 20px; }

.icon.icon-date {  background-position: -108px -134px; width: 18px; height: 18px; }


.wrapper { max-width: 1200px; margin: 0 auto 0 auto;}

.header { background: url('../img/back_header.gif') repeat center top; padding: 18px 0 14px 0; color: #e0e0e1; font-size: 15px; font-weight: 300;

	-webkit-box-shadow: inset 0px -4px 13px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    inset 0px -4px 13px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         inset 0px -4px 13px 0px rgba(0, 0, 0, 0.75);
}
    
	.header a { color: #e0e0e1; text-decoration: none; }
	.header a:hover { text-decoration: underline; }
    
    .header .logo { display: block; float: left; background-image: url('../img/logo.png'); background-repeat:  no-repeat; background-position:  left top; width: 223px; height: 80px; background-size: cover; margin-left: 16px; }
   
    .header .info { float: right; overflow: hidden; }
		.header .info .round { border: 1px solid #fff; display: block; border-radius: 50%; width: 37px; height: 37px;  text-align: center; float: left; }
		.header .info .round span {  }
		.header .info .text { display: block; margin-left: 48px; }
		.header .info .address { float: left; max-width: 327px; }
		.header .info .contacts { float: right; margin-left: 54px; margin-right: 20px; }
		.header .info .phone {}
		.header .info .email { margin-top: 8px; }
			.header .info .email .text { padding-top: 10px}
       

.outerMenu { background: url('../img/back_header.gif') repeat center top; text-align: center; position: relative; z-index: 10;
	-webkit-box-shadow: 0px 12px 8px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 12px 8px -6px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 12px 8px -6px rgba(0, 0, 0, 0.75);
}
	.outerMenu:before { content: ''; display: block; background: url('../img/line_dotted.gif') repeat-x top left; width: 100%; height: 1px;}
	.outerMenu:after { content: ''; display: block; background: url('../img/line_dotted.gif') repeat-x bottom left; width: 100%; height: 1px;}

.outerMenu .menu { text-align: center; display: inline-block; }
	.outerMenu .menu:before { content: ''; background: url('../img/sprite@2x.png') no-repeat 0 -66px; width: 166px; height: 27px; display: inline-block; background-size: 166px 200px; position: relative; top: 6px;}
	.outerMenu .menu:after { content: ''; background: url('../img/sprite@2x.png') no-repeat 0 -104px; width: 166px; height: 27px; display: inline-block; background-size: 166px 200px; position: relative; top: 6px; }

	.outerMenu .menu li {  padding: 0; font-size: 18px; font-weight: 600;  position: relative; display: inline-block; margin-left: -0.2em; }
	.outerMenu .menu li:first-child { margin-left: 0;}
	.outerMenu .menu li a { color: #e0e0e1; text-decoration: none; display: block; padding: 14px 20px 0 20px; height: 40px; }
	
	.outerMenu .menu li:hover a, .outerMenu .menu li.active1 a { background: #9a7e55; color: #420e0e; }
	.outerMenu .menu li.active a { background: #7c6544; color: #420e0e; }
	.outerMenu .menu li:hover ul li a  { color: #1f1806; }

	.outerMenu .menu li ul { background: rgba(154,126,85,0.95);  left: 0px;  margin: 0; padding: 10px 0 20px 0; position: absolute; top: 55px; z-index: 200; min-width: 343px; }

	.outerMenu .menu li ul li { display: block; text-align: left; margin-left: 0; font-size: 14px; font-weight: 400; padding: 4px 14px 4px 21px; }
        .outerMenu .menu li ul li a, .outerMenu .menu li.active ul li a { background: none; color: #000; padding: 0; display: inline-block; margin-left: 18px; max-width: 264px; vertical-align: top; height: auto; }
        .outerMenu .menu li ul li a:hover { color: #420e0e; text-decoration: underline;  }

		.outerMenu .menu li:hover ul li a { background: none;}

    .menuMobile { display: none; float: right; margin: 15px 18px 0 0; cursor: pointer;}
	.menuMobile > li { position: relative; }
	.menuMobile > li > a { background: #9a7e55; color: #420e0e; display: block; text-decoration: none; padding: 10px; font-weight: 600; }
	.menuMobile > li.active > a { background: #b7935e; }
    .menu.menuMobile li ul {  right: 0; background: rgba(154,126,85,0.95); position: absolute; top: 43px; z-index: 200; }
	.menu.menuMobile li ul a { font-weight: 600; color: #420e0e }
	.menu.menuMobile li ul li { padding: 7px 15px 7px 15px}

@media (max-width: 1050px) {
	.outerMenu .menu:before { width: 71px; }
	.outerMenu .menu:after { width: 71px; background-position: -95px -104px; }
}

@media (max-width: 860px) {
	.header .info .contacts { margin-left: 18px;}
	.header .info .address { max-width: 280px; }
	
	.outerMenu .menu:before { display: none;}
	.outerMenu .menu:after { display: none; }
}

@media (max-width: 860px) {
}

@media (max-width: 767px) {
	.menuMobile { display: block; }
	.outerMenu .menuDesktop { display: none; }
	.header .info { float: none; clear: both; padding-top: 20px;  }
	.header .info .address { margin-left: 16px; }
}

@media (max-width: 540px) {
	.header .info .address { max-width: 240px; margin-left: 8px; }
	.header .info .contacts { margin-right:  8px;}
	.header .logo { margin-left: 8px; }
	.menuMobile  { margin-right: 8px; }
}

@media (max-width: 479px) {
	.header .info .address { max-width: none; float: none; margin-right: 8px;  }
	.header .info .contacts { float: none; margin-left: 8px; padding-top: 20px;}
}

.back { background: #e1d8d6; }

.leftSidebar { float: left; width: 276px; }

	.leftSidebar .block {}
	.leftSidebar .block > .head { background: #452525; text-align: center; color: #fff; font-size: 16px; font-weight: 600; text-transform: uppercase; line-height: 16px;  }
	.leftSidebar .block > .head .innerHead { padding: 10px 0 12px 0;}

	.leftSidebar .block > .head:before { content: ''; display: block; background: url('../img/line_dotted.gif') repeat-x top left; width: 100%; height: 1px; }
	.leftSidebar .block > .head:after { content: ''; display: block; background: url('../img/line_dotted.gif') repeat-x bottom left; width: 100%; height: 1px;}

	.leftSidebar .block > .head span.text { display: inline-block; vertical-align: middle; max-width: 185px; }

	.leftSidebar .block > .head .icon-leftUzor { vertical-align: middle; margin-right: 8px;}
	
	.leftSidebar .block > .head .icon-rightUzor { vertical-align: middle; margin-left: 8px;  }


	.leftSidebar .block > .carcass { background: #bba275; padding: 10px 18px 18px 18px; font-size: 15px; color: #000;
		
		-webkit-box-shadow: inset 0px 0px 30px 19px rgba(143, 115, 75, 1);
-moz-box-shadow:    inset 0px 0px 30px 19px rgba(143, 115, 75, 1);
box-shadow:         inset 0px 0px 30px 19px rgba(143, 115, 75, 1);
	}

	.leftSidebar a { color: #000; }
	
	.leftSidebar .rubrikator { margin: 0 -18px; }
		.leftSidebar .rubrikator li { overflow: hidden; padding: 8px 18px 8px 18px }
		.leftSidebar .rubrikator li:hover { background: #93764d; }
		.leftSidebar .rubrikator li:hover a { color: #420e0e; }
		.leftSidebar .rubrikator li .icon-point-vinous { float: left; margin-top: 3px; }
		.leftSidebar .rubrikator li a { display: block; margin-left: 24px; line-height: 16px; text-decoration: none; }

	.leftSidebar .from { width: 80px; }
	.leftSidebar .until { width: 98px; }

	.leftSidebar hr { border: none; margin: 15px 0 10px 0; background: url('../img/line_dotted_grey.gif') repeat-x left top; padding-top: 1px;}

	.leftSidebar .jq-selectbox { width: 100%;}

	.leftSidebar .propositionList { margin: -10px -18px -18px -18px;}
		.leftSidebar .propositionList .item { position: relative; display: block; }
		.leftSidebar .propositionList .item img { max-width: 100%; display: block; height: auto; margin: 0 auto; }
		.leftSidebar .propositionList .item:hover img { opacity: 0.8; }

		.leftSidebar .propositionList .bottom { position: absolute; bottom: 0; width: 100%; font-weight: 600; text-align: right; z-index: 20;  overflow: hidden;}
		.leftSidebar .propositionList .description {  background: rgba(69,37,37,0.7); color: #fff; text-align: center; line-height: 18px; padding: 5px 10px 5px 10px; clear: both; }

		.leftSidebar .propositionList .icon-label-orange { color: #fff; text-shadow: 1px 1px 1px rgba(65,65,65,0.67); text-align: center; padding-left: 7px; box-sizing: border-box; margin-bottom: 7px; display: block; float: right; clear: both; }
		.leftSidebar .propositionList .icon-label-red { color: #fff; text-shadow: 1px 1px 1px rgba(65,65,65,0.67); text-align: center; padding-left: 7px; box-sizing: border-box; margin-bottom: 7px; display: block; float: right; clear: both; }

.outerBtn { text-align: center; padding-top: 15px;}
.img-responsive { max-width: 100%; height: auto; display: block; margin: 0 auto; }

.mainContent { margin-left: 300px; margin-right: 19px; padding-bottom: 17px;}

.casket { background: #f6f3f3; margin-top: 17px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(34, 17, 17, 0.4);
	-moz-box-shadow:    0px 0px 13px 0px rgba(34, 17, 17, 0.4);
	box-shadow:         0px 0px 13px 0px rgba(34, 17, 17, 0.4);
}

	.casket .head { text-align: center; padding: 12px 0 14px 0; }
	.casket .head .text { display: inline-block; vertical-align: middle; max-width: 500px; font-size: 18px; font-weight: 600; border-bottom: 1px solid #ac9678; padding: 0 56px 7px 56px; line-height: 18px; }
	.casket .head .icon-uzorL { vertical-align: bottom; margin-right: -28px; }
	.casket .head .icon-uzorR { vertical-align: bottom; margin-left: -28px; }

	.casket .carcass { padding: 0 16px 10px 16px;}

	.casket .carcass p { margin: 0; padding-bottom: 15px;}
	.casket .carcass h1 { margin: 0; font-weight: 600; font-size: 18px; padding-bottom: 15px; }
	.casket .carcass h2 { margin: 0; font-weight: 600; font-size: 16px; padding-bottom: 15px; }
	.casket .carcass .adminText ul { list-style: url(../img/marker.png) inside; padding-bottom: 15px; }
	.casket .carcass .adminText img { max-width: 100%; }

	.casket .carcass .adminText .leftFloat { margin-right: 20px;}
	.casket .carcass .adminText .rightFloat { margin-left: 20px;}
   

.breadcrumps { font-size: 12px; padding: 10px 0 0 0; margin-bottom: -5px; }
	.breadcrumps a { color: #93764d; display: inline-block; margin-right: 2px; }
	.breadcrumps a:after { content: ''; display: inline-block; width: 5px; height: 9px; background: url('../img/sprite@2x.png') no-repeat -147px 0; background-size: 166px 200px; margin: 0 0 0 6px; vertical-align: middle; }
	.breadcrumps span { color: #93764d; display: inline-block; }
	
 
.catalog { overflow: hidden; list-style: none !important; }
	.catalog li { width: 32.666%; margin-left: 1%; float: left; margin-top: 10px; margin-bottom: 10px;}
	.catalog li:nth-child(3n+1) { margin-left: 0; clear: both;}
	.catalog li .description { text-align: justify; line-height: 17px; padding: 10px 10px 0 10px; height: 70px; overflow: hidden;}
	.catalog li .outerImg { display: block; position: relative; }
	.catalog li .outerImg:hover img { opacity: 0.8; filter: alpha(opacity=80);}
	.catalog li .title {  background: rgba(69,37,37,0.7); color: #fff; text-align: center; line-height: 18px; padding: 5px 5px 8px 5px;  position: absolute; bottom: 0; width: 100%; font-weight: 600; font-size: 15px; box-sizing: border-box; height: 49px; z-index: 20; }
	.catalog li .title span { display: inline-block; vertical-align: middle; }
	.catalog li .more { background: url('../img/line_dotted.gif') repeat-x left top; margin: 10px 10px 0 10px;}

.casket .more { text-align: right; padding: 10px 0 0 0;}
	.casket .more a { display: inline-block; color: #b1955d;  text-decoration: none;  }
	.casket .more a:after { content: ''; display: inline-block; width: 8px; height: 9px; background: url('../img/sprite@2x.png') no-repeat -154px 0; background-size: 166px 200px; margin: 0 0 0 6px;  }
	.casket .more a:hover { color: #7e6a42; text-decoration: underline; }
	.casket .more a:active {}

form label { display: block; padding-bottom: 6px; color: #000; }
form .small { display: inline-block; margin-right: 3px;}
form .from { margin-right: 10px;}

textarea { height: auto;}

.articleItem { overflow: hidden; background: url('../img/line_dotted.gif') repeat-x top left; padding: 7px 0 7px 0; }
	.articleItem .thumb { float: left; width:  262px; height: auto; margin-right: 15px; }
	.articleItem .description {  }
	.articleItem .description.noImage { margin-left: 0;}
	.articleItem .description .title { font-size: 16px; font-weight: 600; color: #452525; text-decoration: none;  }
	.articleItem .description .title:hover { text-decoration: underline; }
	.articleItem .description .date { color: #b1955d; font-size: 12px; font-weight: 300; font-style: italic; padding-top: 10px; }
	.articleItem .description .value { display: inline-block; vertical-align: middle; margin-left: 5px;   }
	.articleItem .description .text { text-align: justify; padding-top: 10px; }
	.articleItem .thumb:hover { opacity: 0.8; filter: alpha(opacity=80);}
	
.casket .carcass .articleItem:first-child { background: none;}


.footer { background: #241e1e; border-top: 1px solid #4f4231; padding: 13px 0 12px 0; color: #636161; }
    .footer .logo { background: url('../img/logo_footer.png') no-repeat left top; display: block; float: left; height: 43px; width: 130px; margin-left: 19px; background-size: cover;}

    .footer .menu { float: left; margin-left: 92px; max-width: 370px;}
        .footer .menu li { float: left; font-size: 15px; width: 118px; }
        .footer .menu li a { color: #636161; text-decoration: none; margin-left: 6px; display: inline-block; vertical-align: top; max-width: 99px; }
        .footer .menu li a:hover { text-decoration: underline; color: #dbdbdb; }
        .footer .menu li.active a { color: #dbdbdb;}

	.footer .info { float: right; overflow: hidden; }

	.footer .address { float: left; max-width: 275px;}
	.footer .icon-map-grey, .footer .icon-phone-grey, .footer .icon-email-grey  { float: left; margin-top: 3px; }
	.footer .text { display: block; margin-left: 27px;}

	.footer .contacts { float: left; max-width: 195px; margin-left: 70px; margin-right: 20px;}
	.footer .contacts .email { margin-top: 5px; }

	.footer a { color: #636161; text-decoration: none; }
	.footer a:hover { color: #dbdbdb; text-decoration: underline; }

.copyright {  background: #241e1e; border-top: 1px solid #4f4231; padding: 6px 0 6px 0; color: #636161; }
	.copyright .wrapper { padding-left: 19px; box-sizing: border-box; }
	.copyright a { color: #636161;}
	.copyright a:hover { color: #dbdbdb; }

@media (max-width: 1170px) {
	.footer .menu { margin-left: 30px;}
}

@media (max-width: 1110px) {

	.footer .contacts { margin-left: 25px; }
}

@media (max-width: 1050px) {
	.footer .menu { max-width: 240px;}
	.catalog li .title { height: 60px; line-height: 16px; }
}


@media (max-width: 1000px) {
	.casket .head .text { max-width: 400px; }
	
}

@media (max-width: 960px) {
	.articleItem .thumb { width: 150px; }
	.articleItem .description { margin-left: 170px;}
	.footer .address { max-width: 200px; }
}

@media (max-width: 900px) {
	.casket .head .text { max-width: 270px; }
	.catalog li .title {  font-size: 13px; height: 70px; }
}

@media (max-width: 850px) {
	.catalog li .description { height: 103px;}
	.footer .contacts { margin-left: 10px; margin-right: 7px; }
	.footer .logo { margin-left: 7px; width: 110px; height: 36px; }
	.footer .address { max-width: 180px; }
}

@media (max-width: 767px) {
	.leftSidebar { float: none; width: auto; }
	.mainContent { margin-left: 0; margin-right: 0;}
	.breadcrumps { padding-left: 16px;}
	.casket .head .text { max-width: 400px;}
	.footer .menu  { max-width: 120px;}
	.footer .contacts { margin-left: 30px; }
}

@media (max-width: 665px) {
	.footer .info { float: none; clear: both; padding-top: 20px; margin-left: 7px; }
	.footer .menu { max-width: 355px; margin-left: 20px;}
	.footer .address { max-width: 250px;}
}

@media (max-width: 600px) {
	.catalog li { width: 49%; margin-left: 2%; }
	.catalog li:nth-child(3n+1) { clear: none; margin-left: 2%;}
	.catalog li:nth-child(2n+1) { clear: both; margin-left: 0;}
	.casket .head .text { max-width: 340px; padding: 0 40px 7px 40px; }
}

@media (max-width: 500px) {
	.footer .menu { max-width: 240px; }
}

@media (max-width: 480px) {
	.catalog li { width: auto; margin-left: 0; float: none }
	.catalog li:nth-child(2n+1) { clear: none; margin-left: 0;}
	.catalog li .description { height: auto; max-height: 60px;}
	.articleItem .thumb { float: none; width: auto; max-width: 100%; }
	.articleItem .description { margin-left: 0;}
	.casket .head .text { max-width: 200px;  }
	.footer .contacts { margin-left: 0 }
}

@media (max-width: 440px) {
	.footer .info { margin-right: 7px; }
	.footer .address { float: none; max-width: none;}
	.footer .contacts { float: none; margin-left: 0; margin-right: 0; padding-top: 20px; }
	.casket .carcass .adminText .rightFloat { float: none !important; margin-left: 0;}
	.casket .carcass .adminText .leftFloat { float: none !important; margin-right: 0;}
}

@media (max-width: 377px) {
	.footer .menu { float:  none; clear: both; margin-left: 7px; margin-top: 18px;}
	.footer .logo { float: none; width: 130px; height: 43px; }
}

.pagination {  text-align: center;}
    .pagination span a, .pagination .current { background: #bba275; display: inline-block; color: #fff; text-decoration: none; padding: 3px 10px; }
    .pagination span a:hover, .pagination .current { background: #452525;  }
    .pagination span.prev, .pagination span.next { color: #000;}
    .pagination .prev { margin: 0 5px 0 15px; background: none; }
    .pagination .next { margin: 0 0 0 5px; background: none; }
    
    .pagination a.prev,  .pagination a.next { color: #237090; text-decoration: underline; padding: 0; }
    .pagination a.prev:hover,  .pagination a.next:hover { background: none; text-decoration: none}

.gallery { overflow: hidden; }
	.gallery .image { width: 32.666%; margin-left: 1%; float: left; margin-top: 10px; margin-bottom: 10px;}
	.gallery .image:nth-child(3n+1) { margin-left: 0; clear: both;}
	.gallery .image img { max-width: 100%; height: auto; display: block; }

.fancybox-lock body { margin-right: 17px;}

.leftSidebar .paramForms .input-small { width: 100%; }

.input.text { padding-top :10px;}
